<footer class="footer">
    <div class="footer__content grid container">
        <div class="footer__content--item">
            <div class="logo"></div>
            <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet
                auctror a ornare odio non mauris vitae erat in elit</p>
            <div class="help-btn">
                <button>HELP</button>
                <button>TERMS & CONDITION</button>
                <button>PRIVACY</button>
            </div>
        </div>
        <div class="footer__content--item">
            <h4>our studio</h4>
            <p class="location">Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia</p>
            <p class="phone">(+62) 21-2224 3333</p>
        </div>
        <div class="footer__content--item">
            <h4>stay in touch</h4>
            <input type="email" placeholder="Subscribe our newsletter">
            <button><img src="img/button-img.png" alt=""></button>
            <div class="soc-buttons">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
            <p>2017 - Vyacheslav Grygorash</p>
        </div>
    </div>
</footer>