<header class="header">
    <div class="header__slider">
        <div class="header__slider--img-1" style="background: url('img/slider-img-1.jpg');"></div>
    </div>
    <div class="header__top">
        <div class="header__top--nav grid">
            <div class="logo">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="menu">
                <ul>
                    <li>home</li>
                    <li>about</li>
                    <li>expertise</li>
                    <li>teams</li>
                    <li>works</li>
                    <li>people say</li>
                    <li>contact</li>
                </ul>
            </div>
            <div class="slideout-menu">
                <div class="icon">
                    <div class="hamburger">
                    </div>
                </div>
                <ul>
                    <li>home</li>
                    <li>about</li>
                    <li>expertise</li>
                    <li>teams</li>
                    <li>works</li>
                    <li>people say</li>
                    <li>contact</li>
                </ul>
                <button class="button uppercase">learn more</button>
            </div>
        </div>
        <div class="header__content">
            <h2 class="play-font">We Are Awesome Creative Agency</h2>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
                sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
            <button class="button uppercase">learn more</button>
        </div>
        <div class="scroll-down">
            <div class="mouse">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
</header>