<section class="people-say">
    <div class="people-say__content">
        <div class="title"></div>
        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
            lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet
            nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor
            a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
    </div>
    <div class="people-say__footer">
        <div class="people-say__footer--slider">
            <h4>JANE GALADRIEL</h4>
            <p>CEO TENGKUREP</p>
            <div class="carousel">
                <img src="img/people-say-slider-1.png" alt="">
                <img src="img/people-say-slider-2.png" alt="">
                <img src="img/people-say-slider-3.png" alt="" class="active-img">
                <img src="img/people-say-slider-4.png" alt="">
                <img src="img/people-say-slider-5.png" alt="">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
    </div>
</section>