<section class="contact container grid">
    <div class="contact__left">
        <h3 class="play-font">GIVE US A GOOD NEWS</h3>
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Subject">
            <textarea placeholder="Your Message"></textarea>
            <button class="button">Submit</button>
        </form>
    </div>
    <div class="contact__right">
        <h3 class="play-font">our happy client</h3>
        <div class="contact__right--content grid">
            <div class="content-item"><img src="img/client-1.png" alt=""></div>
            <div class="content-item"><img src="img/client-2.png" alt=""></div>
            <div class="content-item"><img src="img/client-3.png" alt=""></div>
            <div class="content-item"><img src="img/client-4.png" alt=""></div>
            <div class="content-item"><img src="img/client-5.png" alt=""></div>
            <div class="content-item"><img src="img/client-6.png" alt=""></div>
            <div class="content-item"><img src="img/client-7.png" alt=""></div>
            <div class="content-item"><img src="img/client-8.png" alt=""></div>
            <div class="content-item"><img src="img/client-9.png" alt=""></div>
            <div class="content-item"><img src="img/client-10.png" alt=""></div>
        </div>
    </div>
</section>