<section>
    <div class="team">
        <div class="header-container">
            <h3>MEET OUR AMAZING TEAM</h3>
            <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        </div>
        <div class="team__content grid">
            <div class="team__content--item"><img src="img/team-1.jpg" alt=""><h4>SEMF UCUK</h4>
                <p>CEO & FOUNDER</p></div>
            <div class="team__content--item"><img src="img/team-2.jpg" alt=""><h4>DIK ADALIN</h4>
                <p>ENGINEERING</p></div>
            <div class="team__content--item"><img src="img/team-3.jpg" alt=""><h4>JENG KOL</h4>
                <p>DESIGNER</p></div>
            <div class="team__content--item"><img src="img/team-4.jpg" alt=""><h4>PET ROMAK</h4>
                <p>MARKETING</p></div>
        </div>
        <div class="team__footer">
            <p>Become part of our dream team, let’s join us ! </p>
            <button class="button">WE ARE HIRING</button>
        </div>
    </div>
</section>