<section class="expertise container" id="expertise">
    <div class="header-container">
        <h3>EXPERTISE</h3>
        <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
    </div>
    <div class="expertise__content grid">
        <div class="expertise__content--item">
            <img src="img/expertise-1.png" alt="">
            <h4>WEB DESIGN & DEVELOPMENT</h4>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="expertise__content--item">
            <img src="img/expertise-2.png" alt="">
            <h4>BRANDING IDENTITY</h4>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="expertise__content--item">
            <img src="img/expertise-3.png" alt="">
            <h4>MOBILE APP</h4>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="expertise__content--item">
            <img src="img/expertise-4.png" alt="">
            <h4>SEARCH ENGINE OPTIMIZATION</h4>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="expertise__content--item">
            <img src="img/expertise-5.png" alt="">
            <h4>GAME DEVELOPMENT</h4>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="expertise__content--item">
            <img src="img/expertise-6.png" alt="">
            <h4>MADE WITH LOVE</h4>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
    </div>
</section>