<section class="works">
    <div class="works__header grid container">
        <h3 class="play-font">OUR WORKS</h3>
        <a href="">See All Project in dribbble</a>
    </div>
    <div class="works__content grid">
        <div class="works__content--item" style="background: url('img/works-1.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-2.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-3.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-4.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-5.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-6.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-7.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-8.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-9.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-10.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-11.jpg');"></div>
        <div class="works__content--item" style="background: url('img/works-12.jpg');"></div>
    </div>
    <div class="works__footer grid">
        <button class="button">load more</button>
    </div>
</section>