#modal
  background: rgba(255,255,255,.9)
  color: #000
  display: none
  padding: 30px
  min-width: 350px
  min-height: 160px
  border: 2px solid $second
  textarea
    height: 150px
  .fa-times
    font-size: 36px
    color: #fff
    transition: all .3s
    &:hover
      transform: rotate(90deg)
      color: $main
.b-close
  cursor: pointer
  position: absolute
  right: -35px
  top: 0px
.b-modal
  background-color: $second!important
  opacity: .9!important
  transition: all .3s
  z-index: 9999!important